@use '../base' as *;
@use '../utils' as *;


.main {
    @include flexColumn;
    align-items: center;

    &__index {
        background-color: $color-notQuiteWhite;
    }

    &__restaurant {
        border-radius: 0;
        z-index: 1;
    }
}