@use '../base' as *;
@use '../utils' as *;

button {
    color: white;
    background: linear-gradient(180deg, $color-primary 100%, $color-secondary 100%);
    border: none;
    height: 50px;
    width: 218px;
    border-radius: 25px;
    box-shadow: 0px 4px 10px 0px #00000040;

    &:hover {
        background: lighten($color-primary, 15%);
        background: lighten($color-secondary, 15%);
        box-shadow: 0px 4px 15px 0px #00000059;
    }
}