@use '../base' as *;
@use '../utils' as *;

.like {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    z-index: 2;

    &--off {
        position: relative;
        z-index: 2;
        opacity: 1;
        transition: opacity 250ms ease-in-out;
    }

    &--on {
        z-index: 2;
        position: absolute;
        transform: scale(0);
        transition: transform 250ms ease-in-out;

        &::before {
            background-clip: border-box;
            background: linear-gradient(180deg, $color-secondary 5%, $color-primary 95%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
        }
    }

    &:hover {
        &>.like--off {
            opacity: 0;
        }

        &>.like--on {
            transform: scale(1);
        }
    }
}