@use '../base' as *;
@use '../utils' as *;

.order-card {
    position: relative;
    @include flexRow;
    background-color: white;
    border-radius: 15px;
    cursor: pointer;
    overflow: hidden;
    justify-content: space-between;

    &__content {
        @include flexColumn;
        padding: 15px 0 15px 15px;
        gap: 5px;
        overflow: hidden;
        max-width: calc(100% - 41px);
        transition: max-width 250ms ease-in-out;

        &>* {
            white-space: nowrap;
            overflow: hidden;
        }
    }

    &__title {
        font-size: 18px;
    }

    &__subtitle {
        font-weight: 300;
        font-size: 15px;
    }

    &__price {
        display: flex;
        justify-content: center;
        align-items: end;
        padding: 0 15px 15px 0;
        font-weight: 700;
        font-size: 15px;
        color: $color-icon-dark;
        transition: transform 250ms ease-in-out;
    }

    &__checkbox {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        height: inherit;
        background-color: $color-tertiary;
        border-radius: 0 15px 15px 0;
        width: 60px;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(60px);
        transition: transform 250ms ease-in-out;
    }

    &__checkmark {
        color: $color-tertiary;
        background-color: white;
        border-radius: 50%;
        padding: 3px;
    }

    &:hover {
        & .order-card {
            &__content {
                max-width: calc(100% - 101px);
            }

            &__price {
                transform: translate(-60px);
            }

            &__content>* {
                text-overflow: ellipsis;
            }

            &__checkbox {
                transform: translate(0);
            }
        }
    }
}