@use '../base' as *;
@use '../utils' as *;

.restaurant-card {
    height: 251px;
    width: 100%;
    max-width: 490px;
    background-color: white;
    position: relative;
    border-radius: 15px;

    @media (min-width: 1024px) {
        max-width: 45%;
    }

    &__img {
        width: 100%;
        height: 183px;
        border-radius: 15px 15px 0px 0px;
        object-fit: cover;
    }

    &__content {
        @include flexRow;
        justify-content: space-between;
        padding: 13px;
    }

    //&__txt {}

    &__title {
        font-weight: 700;
        font-size: 18px;
    }

    &__location {
        font-weight: 300;
        font-size: 17px;
    }

    &__like {
        display: flex;
        align-items: center;
    }

    &--new::before {
        content: 'Nouveau';
        position: absolute;
        top: 13px;
        right: 13px;
        background-color: $color-tertiary;
        color: $color-new-font;
        border-radius: 2px;
        padding: 6px;
        font-size: 14px;
        box-shadow: 0px 2px 4px 0px #00000026;
    }
}