$color-tertiary: #99E2D0; //check mark pop up background, nouveau background, plate underline
$color-notQuiteWhite: #f6f6f6; //main background color
$color-green: #008766; //nouveau font
$color: #89C8FA; // useless, présent dans la maquette, delete?
$color: #003A68; // useless, présent dans la maquette, delete?
$color-primary: #9356DC; //button primary gradient, fa-store, primary filled heart
$color-secondary: #FF79DA; //button secondary gradient, secondary filled heart
$color-dark-grey: #353535; //price, location & fa-location-dot, arrow-left menu, footer background, sub-h1 index
$color-notQuiteBlack: #101010; //header logo, heart outline, h1 menus (shrikhand)
$color-light-grey: #EAEAEA; //location background
$color-grey: #7E7E7E; // fa-mobile-screen-button, fa-list-ul