@use '../base' as *;
@use '../utils' as *;

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    @include roboto-500-16;
}

.home {
    &__h2 {
        @include roboto-700-24;
    }
}