@use '../base' as *;
@use '../utils' as *;

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Roboto',
        sans-serif;
}

*,
::before,
::after {
    box-sizing: border-box;
}


.loader {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-main-bg;
    animation: loader-fade 3s forwards;
    mix-blend-mode: overlay;

    &::after {
        content: '';
        position: relative;
        width: 75px;
        height: 75px;
        border-top: 15px solid $color-secondary;
        border-bottom: 15px solid $color-secondary;
        border-radius: 50%;
        animation: loader-spin 0.75s ease-in-out infinite;
        mix-blend-mode: overlay;
    }

    &::before {
        position: absolute;
        content: '';
        width: 75px;
        height: 75px;
        border-right: 15px solid $color-primary;
        border-left: 15px solid $color-primary;
        border-radius: 50%;
        animation: loader-spin 0.75s ease-in-out infinite;
    }

}