@use '../base' as *;

@keyframes loader-spin {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

@keyframes loader-fade {

    100% {
        display: none;
    }
}

@keyframes plate-reveal {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}